@import '../../color-variables.css';

.paragraph--delivery-remove-margin {
  padding-top: 0px !important;
  margin-top: 0px;
  max-width: 725px;
}

.wrapper--delivery-remove-margin {
  display: flex;
  justify-content: center;
}

.paragraph--delivery-margin-bottom {
  padding-top: 0px !important;
  margin-top: 0px;
  max-width: 725px;
}

.wrapper--delivery-margin-bottom {
  display: flex;
  justify-content: center;
}

.wrapper--delivery-pricing-margin-bottom {
  margin-bottom: 2rem;
}

.list--delivery-remove-margin,
.list--delivery-margin-bottom {
  margin: 0.15rem;
}

.link--delivery-margin-bottom {
  color: var(--text-french-blue);
}
