.login-container {
  background-color: #002266;
  border-radius: 25px;
}

.login-container :global(.vtex-button) {
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
}

.login-container .login-link {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 40px;
  padding: 0 30px;
}

button[data-testid='myAccountId']::before {
  content: ' ';
  height: 30px;
  width: 25px;
  background-size: 30px;
  background-image: url(https://whitebird.vtexassets.com/assets/vtex.file-manager-graphql/images/4a162d5b-a981-41cf-be4b-793e654e5429___1f07f37….png);
  background-position: center;
  margin-right: 10px;
}

button[data-testid='favourites']::before {
  content: ' ';
  height: 30px;
  width: 25px;
  background-size: cover;
  background-image: url(https://whitebird.vtexassets.com/assets/vtex.file-manager-graphql/images/0dd60fd9-fdda-49dc-9cba-7f482ae41bd0___95234b28d9d0f81193329cfdb3f090ef.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

button[data-testid='logout']::before {
  content: ' ';
  height: 30px;
  width: 25px;
  background-size: 22px;
  background-image: url(https://whitebird.vtexassets.com/assets/vtex.file-manager-graphql/images/4c86aa41-75a8-490d-b40a-016f70fc1691___b970e26ed5ee68707a100c106c2793ed.png);
  /* background-image: url(https://whitebird.vtexassets.com/assets/vtex.file-manager-graphql/images/2c965b59-745d-464d-82b3-062eed90cd4a___a9f6f38e62223958ad52acbfb12bd012.png); */
  background-position: center;
  margin-right: 10px;
  background-repeat: no-repeat;
}

button[data-testid='menu-option-3']::before {
  display: none;
  content: ' ';
  height: 30px;
  width: 25px;
  background-size: 25px;
  background-image: url(https://whitebird.vtexassets.com/assets/vtex.file-manager-graphql/images/4c86aa41-75a8-490d-b40a-016f70fc1691___b970e26ed5ee68707a100c106c2793ed.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
